In [3]:
import pandas as pd

data = pd.read_csv('dataScience/pokemon.csv')

In [6]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# data.isnull()
   - returns the number of missing values in the data set

In [18]:
data.isnull()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
data.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [20]:
data.notnull().sum()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

# Data.Head()
  -This function returns the first `n` rows for the object based on position. It is useful for quickly testing if your object has the right type of data in it

In [3]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [9]:
data.head(n=13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False

# Data.tail()
   - This function returns last `n` rows from the object based on position. It is useful for quickly verifying data, for example, after sorting or appending rows.

In [4]:

data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
# get Last five

data.tail(n=5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# data.shape()
    -Return a tuple representing the dimensionality of the DataFrame.

In [12]:
data.shape

(800, 13)

In [14]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
type(data)

pandas.core.frame.DataFrame

# data.info()
   - This method prints information about a DataFrame including

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                800 non-null    int64
 1   Name             800 non-null    object
 2   Type 1           800 non-null    object
 3   Type 2           414 non-null    object
 4   Total            800 non-null    int64
 5   HP               800 non-null    int64
 6   Attack           800 non-null    int64
 7   Defense          800 non-null    int64
 8   Sp. Atk          800 non-null    int64
 9   Sp. Def          800 non-null    int64
 10  Speed            800 non-null    int64
 11  Generation       800 non-null    int64
 12  Legendary        800 non-null    bool
 13  Attack_high_low  800 non-null    object
dtypes: bool(1), int64(9), object(4)
memory usage: 69.6+ KB

# data.groupby()
   - Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

In [51]:
data.groupby('Attack').groups

{5: Int64Index([121, 488], dtype='int64'),
 10: Int64Index([139, 230, 261], dtype='int64'),
 15: Int64Index([381], dtype='int64'),
 20: Int64Index([14, 68, 179, 189, 198, 254, 322, 508], dtype='int64'),
 22: Int64Index([733], dtype='int64'),
 23: Int64Index([394], dtype='int64'),
 24: Int64Index([484], dtype='int64'),
 25: Int64Index([17, 187, 303, 356, 446, 487, 576], dtype='int64'),
 27: Int64Index([606], dtype='int64'),
 29: Int64Index([457], dtype='int64'),
 30: Int64Index([ 13, 108, 177, 188, 206, 257, 286, 293, 301, 307, 405, 451, 462,
             481, 616, 623, 635, 638, 668, 790],
            dtype='int64'),
 33: Int64Index([217], dtype='int64'),
 35: Int64Index([16, 69, 88, 99, 180, 202, 255, 289, 291, 304, 467, 608, 732], dtype='int64'),
 36: Int64Index([727], dtype='int64'),
 38: Int64Index([184, 737, 764], dtype='int64'),
 40: Int64Index([ 78, 110, 125, 149, 186, 190, 193, 236, 244, 296, 309, 334, 341,
             364, 375, 388, 398, 639, 653, 669, 677],
            dtype='int64'),
 41: Int64Index([42, 377], dtype='int64'),
 42: Int64Index([455], dtype='int64'),
 43: Int64Index([345], dtype='int64'),
 44: Int64Index([641], dtype='int64'),
 45: Int64Index([ 15,  20,  40,  44,  46,  57,  93, 103, 129, 131, 203, 209, 272,
             288, 314, 323, 324, 337, 357, 444, 464, 554, 586, 603, 636, 721,
             738],
            dtype='int64'),
 46: Int64Index([175], dtype='int64'),
 47: Int64Index([34, 343, 656], dtype='int64'),
 48: Int64Index([9, 104, 143, 371, 469, 745, 746, 747, 754], dtype='int64'),
 49: Int64Index([0, 166, 506], dtype='int64'),
 50: Int64Index([ 48,  65,  70,  71, 100, 109, 112, 133, 178, 191, 199, 237, 238,
             292, 294, 302, 340, 391, 395, 415, 472, 501, 519, 531, 568, 595,
             624, 629, 633, 643, 658, 676, 729, 735, 751, 773, 774],
            dtype='int64'),
 51: Int64Index([317, 438], dtype='int64'),
 52: Int64Index([4, 59, 169, 456, 734, 752, 758], dtype='int64'),
 53: Int64Index([570, 572, 574, 600, 762], dtype='int64'),
 54: Int64Index([756], dtype='int64'),
 55: Int64Index([ 30,  53,  55, 116, 122, 144, 194, 204, 240, 243, 284, 299, 369,
             410, 441, 479, 528, 560, 563, 577, 578, 604, 637, 651, 660, 663,
             666, 670, 690, 765],
            dtype='int64'),
 56: Int64Index([24, 724, 728], dtype='int64'),
 57: Int64Index([37, 587], dtype='int64'),
 58: Int64Index([185, 435, 622, 772], dtype='int64'),
 59: Int64Index([458, 722, 768], dtype='int64'),
 60: Int64Index([ 21,  26,  28,  89, 148, 150, 181, 215, 246, 250, 276, 308, 311,
             320, 335, 344, 352, 358, 382, 399, 468, 477, 522, 555, 565, 581,
             590, 591, 609, 646, 654, 698, 760],
            dtype='int64'),
 61: Int64Index([503, 718], dtype='int64'),
 62: Int64Index([1, 35, 167, 509], dtype='int64'),
 63: Int64Index([10, 258, 482, 557, 601, 725], dtype='int64'),
 64: Int64Index([5, 159, 170, 265, 401], dtype='int64'),
 65: Int64Index([ 49,  54,  66,  85,  90,  97, 101, 102, 117, 126, 145, 146, 172,
             208, 211, 212, 219, 241, 273, 305, 325, 448, 465, 489, 532, 533,
             534, 535, 536, 596, 618, 631, 640, 644, 691, 694, 739, 740, 770],
            dtype='int64'),
 66: Int64Index([439, 474, 679, 780, 781, 782, 783], dtype='int64'),
 67: Int64Index([127, 607], dtype='int64'),
 68: Int64Index([390, 432, 736], dtype='int64'),
 69: Int64Index([460, 507, 723, 788], dtype='int64'),
 70: Int64Index([ 41,  45,  51,  58,  63,  79,  94, 205, 221, 280, 287, 290, 295,
             297, 330, 350, 360, 365, 376, 383, 389, 430, 452, 491, 496, 513,
             546, 674, 678, 778, 791],
            dtype='int64'),
 71: Int64Index([318], dtype='int64'),
 72: Int64Index([38, 216, 499, 611, 713, 714, 753], dtype='int64'),
 73: Int64Index([105, 342, 346, 730, 763], dtype='int64'),
 74: Int64Index([683], dtype='int64'),
 75: Int64Index([ 32,  75,  86,  87, 130, 192, 195, 201, 207, 214, 222, 259, 264,
             326, 338, 339, 385, 406, 411, 416, 442, 537, 556, 561, 583, 620,
             648, 649, 655, 667, 761, 775],
            dtype='int64'),
 76: Int64Index([43, 176, 475, 520], dtype='int64'),
 77: Int64Index([579, 657, 715, 769], dtype='int64'),
 78: Int64Index([372, 436, 625, 719], dtype='int64'),
 79: Int64Index([459], dtype='int64'),
 80: Int64Index([ 22,  23,  47,  50,  56,  61,  72,  80,  95, 113, 151, 173, 197,
             218, 225, 234, 245, 252, 260, 312, 373, 396, 400, 417, 463, 473,
             486, 525, 530, 547, 566, 592, 661, 744, 748, 755, 777],
            dtype='int64'),
 81: Int64Index([25, 378, 731], dtype='int64'),
 82: Int64Index([2, 60, 168, 480, 612, 742], dtype='int64'),
 83: Int64Index([11, 134, 470, 688], dtype='int64'),
 84: Int64Index([6, 160, 171, 266, 403], dtype='int64'),
 85: Int64Index([ 29,  83,  91, 119, 142, 156, 210, 213, 223, 262, 274, 277, 281,
             300, 306, 327, 328, 355, 362, 445, 447, 449, 495, 514, 564, 588,
             652, 664, 680, 685, 695, 697, 785],
            dtype='int64'),
 86: Int64Index([440, 617], dtype='int64'),
 87: Int64Index([642, 671], dtype='int64'),
 88: Int64Index([569], dtype='int64'),
 89: Int64Index([433, 485, 766], dtype='int64'),
 90: Int64Index([ 18,  27,  31,  76, 118, 157, 182, 183, 220, 247, 248, 269, 285,
             315, 316, 331, 347, 351, 384, 404, 419, 492, 502, 542, 549, 614,
             621, 699, 701, 784],
            dtype='int64'),
 91: Int64Index([319], dtype='int64'),
 92: Int64Index([36, 128, 490, 510, 610, 757, 771], dtype='int64'),
 93: Int64Index([483, 558], dtype='int64'),
 94: Int64Index([461, 659], dtype='int64'),
 95: Int64Index([ 52,  67,  81,  98, 111, 123, 135, 196, 227, 233, 249, 253, 256,
             370, 379, 407, 431, 518, 523, 597, 619, 630, 634, 645, 726, 786],
            dtype='int64'),
 97: Int64Index([692], dtype='int64'),
 98: Int64Index([571, 573, 575], dtype='int64'),
 100: Int64Index([  3,  33,  73,  84, 138, 158, 165, 200, 239, 271, 298, 336, 353,
             359, 361, 368, 414, 418, 421, 427, 471, 505, 516, 529, 544, 548,
             550, 553, 562, 582, 598, 605, 647, 662, 703, 741, 776, 787, 794,
             795],
            dtype='int64'),
 102: Int64Index([39], dtype='int64'),
 103: Int64Index([12, 551, 602], dtype='int64'),
 104: Int64Index([8, 402, 437], dtype='int64'),
 105: Int64Index([ 62,  77,  96, 106, 115, 153, 174, 242, 329, 466, 538, 584, 593,
             632, 696, 705, 759],
            dtype='int64'),
 106: Int64Index([504], dtype='int64'),
 107: Int64Index([720], dtype='int64'),
 108: Int64Index([626], dtype='int64'),
 109: Int64Index([434, 693], dtype='int64'),
 110: Int64Index([ 64,  92, 132, 155, 162, 275, 282, 332, 366, 497, 521, 567, 675,
             687, 749, 779, 797, 799],
            dtype='int64'),
 112: Int64Index([500, 627], dtype='int64'),
 115: Int64Index([152, 263, 363, 367, 386, 580, 665, 702, 704], dtype='int64'),
 117: Int64Index([613, 672, 789], dtype='int64'),
 120: Int64Index([ 82, 114, 226, 251, 278, 321, 348, 354, 374, 397, 443, 450, 512,
             540, 541, 545, 552, 682, 706, 712, 717],
            dtype='int64'),
 121: Int64Index([767], dtype='int64'),
 123: Int64Index([517, 559, 689], dtype='int64'),
 124: Int64Index([684, 743], dtype='int64'),
 125: Int64Index([124, 136, 140, 224, 231, 380, 453, 478, 526, 539, 599, 681, 686,
             708],
            dtype='int64'),
 128: Int64Index([716], dtype='int64'),
 129: Int64Index([700], dtype='int64'),
 130: Int64Index([7, 74, 107, 120, 147, 228, 235, 270, 310, 392, 420, 493, 524, 710], dtype='int64'),
 131: Int64Index([792, 793], dtype='int64'),
 132: Int64Index([511], dtype='int64'),
 134: Int64Index([161, 267], dtype='int64'),
 135: Int64Index([154, 408, 412, 585, 589, 650], dtype='int64'),
 136: Int64Index([476], dtype='int64'),
 140: Int64Index([333, 349, 515, 594, 615, 628], dtype='int64'),
 145: Int64Index([409, 413, 498, 709], dtype='int64'),
 147: Int64Index([673], dtype='int64'),
 150: Int64Index([19, 164, 229, 283, 393, 422, 423, 425, 428, 707, 750], dtype='int64'),
 155: Int64Index([137, 141], dtype='int64'),
 160: Int64Index([279, 313, 543, 796, 798], dtype='int64'),
 164: Int64Index([268], dtype='int64'),
 165: Int64Index([387, 454, 527], dtype='int64'),
 170: Int64Index([494, 711], dtype='int64'),
 180: Int64Index([424, 426, 429], dtype='int64'),
 185: Int64Index([232], dtype='int64'),
 190: Int64Index([163], dtype='int64')}

# data.describe()
   - Generate descriptive statistics. Descriptive statistics include those that summarize the central tendency, dispersion and shape of dataset's distribution, excluding ``NaN`` values.

In [7]:

data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# 1. value_counts()
 - The value_counts() method returns a Series containing the counts of unique values. This means, for any column in a dataframe, this method returns the count of unique entries in that column.

In [27]:
data['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [30]:
data['Name'].value_counts()

Honedge               1
Poochyena             1
Litleo                1
Linoone               1
Raikou                1
                     ..
Froslass              1
Aron                  1
Krabby                1
Shelmet               1
MeloettaAria Forme    1
Name: Name, Length: 800, dtype: int64

# 2. value_counts() with relative frequencies of the unique values
   - the object returned will contain the relative frequencies of the unique values. The normalizeparameter is set to False by default.

In [31]:
data['Name'].value_counts(normalize=True)

Honedge               0.00125
Poochyena             0.00125
Litleo                0.00125
Linoone               0.00125
Raikou                0.00125
                       ...
Froslass              0.00125
Aron                  0.00125
Krabby                0.00125
Shelmet               0.00125
MeloettaAria Forme    0.00125
Name: Name, Length: 800, dtype: float64

# 3. value_counts() in ascending order
   - The series returned by value_counts() is in descending order by default. We can reverse the case by setting the ascending parameter to True .

In [33]:
data['Defense'].value_counts(ascending=True)

51      1
123     1
99      1
121     1
102     1
       ..
40     36
80     39
60     46
50     49
70     54
Name: Defense, Length: 103, dtype: int64

# data.sort_values()
   - It sorts the DataFrame by the specified label.

In [34]:
data.sort_values('Defense')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [38]:
# Sort two values
data.sort_values(['Defense', 'HP'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [43]:
# Sort three values
data.sort_values(['Defense', 'HP'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [42]:
# Sort two values , One is ascending and other is descending.

data.sort_values(['Defense', 'HP'], ascending=[False,True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

# data.mean()
   - Return the mean of the values for the requested axis.

In [44]:
data['Attack'].mean()

79.00125

In [ ]:
#  'Attack_high_low' 
# # if attack is more than 79 its called Attack_high
if attack is less than 79 its called Attack_low

 # Add a Column..

In [57]:
attack_mean = data['Attack'].mean()

def set_attack(val):
    if val < attack_mean:
        return 'Attack High'
    else:
        return 'Attack Low'

In [58]:
# Apply a function along an axis of the DataFrame.

data['Attack_High_Low']= data['Attack'].apply(set_attack)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low,Attack_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack High,Attack High
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack High,Attack High
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack Low,Attack Low
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack Low,Attack Low
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack High,Attack High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack Low,Attack Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack Low,Attack Low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack Low,Attack Low
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack Low,Attack Low
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack Low,Attack Low